header h1 {
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;

}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    cursor: pointer;
    position: sticky;
    top: 0px;

}

li {
    height: 25px;
    padding: 10px;
}


#navBar {
    background-color: gray;

}

#navBar li>a {
    text-decoration: none;

}


#navBar>li {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    margin: 0px;
}

#navBar>li>a {
    text-decoration: none;
    color: white;
}


/*positioning*/

.navBarMenu_2 {
    display: none;
    position: absolute;
    top: 55px;
    left: 83px;
    min-width: 145px;
}

.navBarMenu_3 {
    display: none;
    position: absolute;
    min-width: 135px;
    top: 55px;
    left: 236px;
}

.navBarMenu_2,
.navBarMenu_3 {
    background-color: whitesmoke;
}

/*positioning*/


@keyframes homePageAnimation {
    0% {
        background-image: url(Images/Animation/ani1.jpg);
    }

    25% {
        background-image: url(Images/Animation/ani2.png);
    }

    50% {
        background-image: url(Images/Animation/ani3.jpg);
    }

    75% {
        background-image: url(Images/Animation/ani4.jpg);
    }

    100% {
        background-image: url(Images/Animation/ani5.jpg);
    }

}

#images {
    animation-name: homePageAnimation;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 1ms;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid steelblue;
    margin-top: 5px;
    margin-bottom: 10px;

}


/* hovering ============Start*/

#images:hover {
    animation-play-state: paused;
}

#navBar>li:hover {
    background-color: black;
}

#navBar li:nth-child(2):hover .navBarMenu_2,
#navBar li:nth-child(3):hover .navBarMenu_3 {
    display: block;
}

.navBarMenu_2 ul>li:hover,
.navBarMenu_3 ul>li:hover {

    background-color: powderblue;
}

.Covid_Diabetic_products:hover {

    width: 292px;
    height: 282px;
}

.Covid_Diabetic_products a:active {

    background-color: rgb(250, 234, 230);
    border-color: rgb(0, 255, 76);
}

/*hovering========= End*/


/*Covid Section Styling---------Start*/


.Covid_Diabetic_products {
    display: inline-block;
    min-height: 180px;
    max-width: 300px;
    background-color: rgb(220, 230, 234);
    padding: 11px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px gray;
    margin: 40px 20px 20px 20px;

}


.Covid_Diabetic_products>img {
    height: 177px;
    width: 277px;
    display: block;
}

.Covid_Diabetic_products>p {
    color: rgb(21, 119, 158);
    font-size: large;
    margin: 0px;
}

.Covid_Diabetic_products>a {

    display: block;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid blue;
    width: auto;
    padding: 5px 90px 5px 90px;
    color: orange;
    background-color: rgba(221, 206, 230, 0.426);
    font-weight: bolder;
    text-decoration: none;
}

span {
    font-size: 20px;
    font-weight: bold;
}

.covid_Diabetic_Section {
    height: auto;
    margin: 25px;
}

/*Covid Section Styling---------End*/

.CovidCareSection,
.DiabeticCareSection {
    min-height: 400px;
    min-width: 600px;
}



#JumpToTop {
    position: fixed;
    top: 630px;
    right: 15px;
}



footer h4 {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}